
    <!--FOOTER-->
    <footer class="py-5 mt-5 container-fluid bg-light " id="piePagina">
     
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 
    <!--SCRIPT PROPIOS-->
    <script src="/js/funcionalidades.js"></script>
 
    <script>
        /*DESPLEGABLES*/
        $('.toggler, .nav-content a:not(#dropdown-link)').on('click', function () {
            $('.toggler').toggleClass('change');
            $('.nav-content').slideToggle();
            $('.menu-overlay').toggle();
        });

        $('.menu-overlay').on('click', function () {
            $('.toggler').removeClass('change');
            $('.nav-content').slideUp();
            $('.menu-overlay').hide();
        });
    
        
    </script>
</body>

</html>