
 <!--BARRA-->

    <header class="container-fluid bg-dark mb-5" id="encabezadoPagina">
        <nav class="navbar navbar-expand-lg navbar-dark row" id="barraNav">            
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarDesplegable" aria-controls="navBarDesplegable" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navBarDesplegable">
                <ul class="navbar-nav ml-auto mb-2  ulNavBar ">
                    <li class="nav-item active">
                        <a href="/" class="nav-link px-2 link-light">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sobreMi" class="nav-link px-2 link-light">Sombre mí</a>
                    </li>
                    <li class="nav-item">
                        <a href="/portfolio" class="nav-link px-2 link-light">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link px-2 link-light" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Contacto</a>
                    </li>
                </ul>
            </div>
            
        </nav>
    </header>
