<%- include ( './partials/head' ); %>

<body class="">
<%- include ( './partials/header' ); %>
<%- include ( './partials/contacto' ); %>
<div class="container mb-5" id="banner"></div>

<section class="container-fluid " id="portfolio">
    <article class="row justify-content-around">
        <h2 class="col-12 text-center titulo">Portfolio</h2>
    <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-01.jpg" alt="">
    </div>
    <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-02.jpg" alt="">
    </div>
    <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-03.jpg" alt="">
    </div>
    <!------------------------------------------->
    <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-01.jpg" alt="">
    </div>
    <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-02.jpg" alt="">
    </div>
    <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-03.jpg" alt="">
    </div>
     <!------------------------------------------->
     <div class="col-lg-3 col-ms-4 contieneImg">
        <img src="/imagenes/fondos-01.jpg" alt="">
    </div>
    <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-05.jpg" alt="">
    </div>
    <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-06.jpg" alt="">
    </div>
     <!------------------------------------------->
     <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-07.jpg" alt="">
    </div>
    <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-08.jpg" alt="">
    </div>
    <div class="col-lg-3 col-ms-1 contieneImg">
        <img src="/imagenes/fondos-09.jpg" alt="">
    </div>
    </article>
</section>


</body>
<%- include ( './partials/footer' ); %>